.move1
{

position:relative;
animation:move1 5s;
-moz-animation:move1, 5s; /* Firefox */
-webkit-animation:move1 5s; /* Safari and Chrome */
-o-animation:move1 5s; /* Opera */
}

@keyframes move1
{
0%   {left:0px; top:0px;}
100%  {left:200px; top:0px;}
}

@-moz-keyframes move1 /* Firefox */
{
0%   {background:red; left:0px; top:0px;}
0%   {left:0px; top:0px;}
100%  {left:200px; top:0px;}
}

@-webkit-keyframes move1 /* Safari and Chrome */
{
0%   {left:0px; top:0px;}
100%  {left:200px; top:0px;}
}

@-o-keyframes move1 /* Opera */
{
0%   {left:0px; top:0px;}
100%  {left:200px; top:0px;}
}