<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
        <title>create new topic</title>
        <script type="text/javascript" src="jquery-1.8.3.min.js"></script>
        <script type="text/javascript">
                $(document).ready(function() {
                        //alert("ready");
                });
                $(function() {
                        $('#savetopic').click(function() {
                                $.ajax({
                                        url: "http://localhost:8888/newtopic",
                                        type: "post",
                                        data: $("#edittopicform").serialize()
                                });
                        })
                });
        </script>
</head>
<body>
        Edit topic
        <form method="post" id="edittopicform">
                <div>
                        <label>Your topic</label>
                         <input type="text" name="topic" id="topic"  value="<%= documents.topic  %>"/>
              </div>
            <input type="button" id="updatetopic" value="Update" />
        </form>
</body>
</html>