<!DOCTYPE html>
<html>
    <head>
        <title>FloatMang</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/jquery.tmpl.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io.connect('http://<%= appHost %>:<%= appPort %>');
            socket.on('serverUpdateLike', function(data) {
                $("#btnLike" + data.ideaId).html("Like (" + data.like + ")");
            });
            socket.on('serverUpdateDislike', function(data) {
                $("#btnDislike" + data.ideaId).html("Hate (" + data.dislike + ")");
            });
            socket.on('serverUpdateAddIdea', function(data) {
                $("#frmAddIdea #addIdea").val("");
            	$("#ideaTemplate").tmpl({ideaId:data.ideaId, idea:data.idea, like:data.like, dislike:data.dislike}).prependTo("#boxIdea");
                 // Remove last idea after add new one.
                 if($(".rowIdea").size() > <%= limit %>) {
                    $("#boxIdea .rowIdea:last").remove();
                 } else { // Add totalDisplayIdea if total idea < limit
                     $("#totalDisplayIdea").val(parseInt($("#totalDisplayIdea").val()) + 1);
                 }               
            });
            socket.on('serverUpdateEditIdea', function(data) {
                $("#idea" + data.ideaId).html(data.idea); 
                $("#frmEditIdea #ideaId").val("");
                $("#frmEditIdea #editIdea").val("");
            });
            function like(ideaId) {
                socket.emit('clientLikeIdea', {
                    ideaId: ideaId
                });                
            }
            function dislike(ideaId) {
                socket.emit('clientDislikeIdea', {
                    ideaId: ideaId
                }); 
            }
            function edit(ideaId) {
                $("#frmEditIdea #ideaId").val(ideaId);
                $.post('/a/getidea', {ideaId:ideaId}, function(data) {
                    $("#frmEditIdea #editIdea").val(data.idea);
                }, 'json');
            }
            $(document).ready(function() {
                $("#btnShowMore").click(function() {
                    var totalDisplayIdea = parseInt($("#totalDisplayIdea").val());
                    console.log(">> " + totalDisplayIdea);
                    $.post('/a/moreidea', {topicId:'<%= topicId %>', totalDisplayIdea:totalDisplayIdea}, function(data) {
                        for(var key in data) {
                            $("#ideaTemplate").tmpl({ideaId:data[key]._id, idea:data[key].idea, like:data[key].like, dislike:data[key].dislike}).appendTo("#boxIdea");
                        }
                        $("#totalDisplayIdea").val(totalDisplayIdea + data.length);
                    }, 'json');
                });         
                $("#frmAddIdea").submit(function() {
                    var topicId = $.trim($("#frmAddIdea #topicId").val());
                    var name = $.trim($("#frmAddIdea #name").val());
                    var idea = $.trim($("#frmAddIdea #addIdea").val());
                    if(!topicId || !name || !idea) {
                        return;
                    }
                    socket.emit('clientAddIdea', {
                        topicId: topicId, 
                        name:name,
                        idea: idea
                    }); 
                });
                $("#frmEditIdea").submit(function() {
                    var ideaId = $.trim($("#frmEditIdea #ideaId").val());
                    var idea = $.trim($("#frmEditIdea #editIdea").val());
                    if(!ideaId || !idea) {
                        return;
                    }
                    socket.emit('clientEditIdea', {
                        ideaId: ideaId, 
                        idea: idea
                    }); 
                });
            });
        </script>
    </head>
    <body>        
        <h2>
            Idea List
        </h2>
        <div>
            <div>
                <h3>
                    New Idea
                </h3>
                <form id="frmAddIdea" onsubmit="return false;">
                    <div>
                        <input type="hidden" id="topicId" name="topicId" value='<%= topicId %>' />
                        <input type="hidden" id="name" value="<%= name %>" />
                        <input type="text" id="addIdea" value="" />
                        <input type="submit" value="Add" />
                    </div>
                </form>
            </div>
            <div>
                <h3>
                    Edit Idea
                </h3>
                <form id="frmEditIdea" onsubmit="return false;">
                    <div>
                        <input type="hidden" id="ideaId" value="" />
                        <input type="text" id="editIdea" value="" />
                        <input type="submit" value="Save" />
                    </div>
                </form>
            </div>
            <input type="hidden" id="totalDisplayIdea" value="<%= documents.length  %>" />
            <div id="boxIdea">
                <% for(var key in documents) {%>
                <div class="rowIdea">
                    <span id="idea<%= documents[key]._id  %>">
                        <%= documents[key].idea  %>
                    </span>
                    &nbsp;&nbsp;
                    <span>                           
                        <a id="btnLike<%= documents[key]._id  %>" onclick="like('<%= documents[key]._id  %>');" href="javascript:void(0);">Like (<%= documents[key].like %>)</a>
                    </span>
                    <span>                           
                        <a id="btnDislike<%= documents[key]._id  %>" onclick="dislike('<%= documents[key]._id  %>');" href="javascript:void(0);">Hate (<%= documents[key].dislike %>)</a>
                    </span>
                    <span>
                        <a onclick="edit('<%= documents[key]._id  %>');" href="javascript:void(0);">
                            Edit
                        </a>
                    </span>
                </div>            
                <% } %>
            </div>
            <script id="ideaTemplate" type="text/x-jquery-tmpl"> 
                <div class="rowIdea">
                    <span id="idea${ideaId}">
                        ${idea}
                    </span>
                    &nbsp;&nbsp;
                    <span>                           
                        <a id="btnLike${ideaId}" onclick="like('${ideaId}');" href="javascript:void(0);">Like (0)</a>
                    </span>
                    <span>                           
                        <a id="btnDislike${ideaId}" onclick="dislike('${ideaId}');" href="javascript:void(0);">Hate (0)</a>
                    </span>
                    <span>
                        <a onclick="edit('${ideaId}');" href="javascript:void(0);">
                            Edit
                        </a>
                    </span>
                </div>  
            </script>
            <% if(totalIdea > limit) {%>
            <div>
                <a id="btnShowMore" href="javascript:void(0);">
                    Show More
                </a>
            </div>
            <% } %>
        </div>
    </body>
</html>
