<!DOCTYPE html>
<html>
    <head>
        <title>FloatMang</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="/jquery-1.8.3.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io.connect('http://<%= appHost %>:<%= appPort %>');
            socket.on('serverUpdateLike', function(data) {
                $("#btnLike" + data.ideaId).html("Like (" + data.like + ")");
            });
            function like(ideaId) {
                socket.emit('clientLikeIdea', {
                    ideaId: ideaId
                });                
            }
            $(document).ready(function() {
            });
        </script>
    </head>
    <body>        
        <h2>
            Idea List
        </h2>
        <div>
            <input type="hidden" id="totalDisplayIdea" value="<%= documents.length  %>" />
            <div id="boxTopic">
                <% for(var key in documents) {%>
                   <div>
                       <a href="javascript:void(0);">
                           <%= documents[key].idea  %>
                       </a>
                       &nbsp;&nbsp;
                       <span>                           
                           <a id="btnLike<%= documents[key]._id  %>" onclick="like('<%= documents[key]._id  %>');" href="javascript:void(0);">Like (<%= documents[key].like  %>)</a>
                       </span>
                       <span>                           
                           <a onclick="hate('<%= documents[key]._id  %>');" href="javascript:void(0);">Hate (<%= documents[key].dislike  %>)</a>
                       </span>
                   </div>
                   </div>
                <% } %>
            </div>
            <% if(totalIdea > 2) {%>
            <div>
                <a id="btnShowMore" href="javascript:void(0);">
                    Show More
                </a>
            </div>
            <% } %>
        </div>
    </body>
</html>
