<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="jquery-1.8.3.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var socket = io.connect('http://127.0.0.1:8888');
                $('#frmSubmit').submit(function() {
                    var name = $('#name').val();
                    socket.emit('clientSendMessage', {
                        'name':name
                    });
                });
//                socket.on('clientReceiveMessage', function (data) {
//                    console.log(data);
//                    $('#secMessage').append('<div>' + data.name + ' : ' + data.message + '</div>');
//                });
            });
        </script>
    </head>
    <body>        
        <form id="frmSubmit" onsubmit="return false;">
            <span><input type="text" id="name" /></span>
            <span><input type="submit" id="btnSubmit" value="Submit" /> </span>
        </form>
    </body>
</html>
