<!DOCTYPE html>
<html>
    <head>
        <title>FloatMang</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="/jquery-1.8.3.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io.connect('http://<%= appHost %>:<%= appPort %>');
            socket.on('serverUpdateAddTopic', function(data) {
                $("#frmAddTopic #topic").val("");
                $("#boxTopic").prepend("<div><a>" + data.topic + "</a></div>");
            });
            $(document).ready(function() {
                $("#btnShowMore").click(function() {
                    var totalDisplayTopic = parseInt($("#totalDisplayTopic").val());
                    $.post('/a/moretopic', {totalDisplayTopic:totalDisplayTopic}, function(data) {
                        for(var key in data) {
                            $("#boxTopic").append('<div><a href="/idea/list/?id=' + data[key]._id + '">' + data[key].topic + '</a></div>');
                        }
                        $("#totalDisplayTopic").val(totalDisplayTopic + data.length);
                    }, 'json');
                });   
                $("#frmAddTopic").submit(function() {
                    var name = $.trim($("#frmAddTopic #name").val());
                    var topic = $.trim($("#frmAddTopic #topic").val());
                    if(!name || !topic) {
                        return;
                    }
                    socket.emit('clientAddTopic', {
                        name: name, 
                        topic: topic
                    }); 
                });
            });
        </script>
    </head>
    <body>        
        <h2>
            Topic
        </h2>
        <div>           
            <div>
                <h3>New Topic</h3>
                <form id="frmAddTopic" onsubmit="return false;">
                    <div>
                        <input type="hidden" id="name" value="<%= name %>" />
                        <input type="text" id="topic" value="" />
                        <input type="submit" value="Add" />
                    </div>
                </form>
            </div>
            <input type="hidden" id="totalDisplayTopic" value="<%= documents.length  %>" />
            <div id="boxTopic">
                <% for(var key in documents) {%>
                <div>
                    <a href="/idea/list/?id=<%= documents[key]._id %>">
                        <%= documents[key].topic  %>
                    </a>
                    &nbsp;&nbsp;
                    <a href="/topic/edit/?id=<%= documents[key]._id %>">
                        Edit
                    </a>
                </div>
                <% } %>
            </div>
            <% if(totalTopic > limit) {%>
            <div>
                <a id="btnShowMore" href="javascript:void(0);">
                    Show More
                </a>
            </div>
            <% } %>
        </div>
    </body>
</html>
