<!DOCTYPE html>
<html>
    <head>
        <title>FloatMang</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/jquery.tmpl.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io.connect('http://<%= appHost %>:<%= appPort %>');
            socket.on('serverUpdateAddTopic', function(data) {
                $("#frmAddTopic #addTopic").val("");
                $("#topicTemplate").tmpl({topicId:data.topicId, topic:data.topic}).prependTo("#boxTopic");
                 // Remove last topic after add new one.
                $("#boxTopic .rowTopic:last").remove();
            });
            socket.on('serverUpdateEditTopic', function(data) {
                console.log("EDIT3 " + data.topicId + " | " + data.topic);
                $("#topic" + data.topicId).html(data.topic); 
                $("#frmEditTopic #topicId").val("");
                $("#frmEditTopic #editTopic").val("");
            });
            function edit(topicId) {
                $("#frmEditTopic #topicId").val(topicId);
                $.post('/a/gettopic', {topicId:topicId}, function(data) {
                    $("#frmEditTopic #editTopic").val(data.topic);
                }, 'json');
            }
            $(document).ready(function() {
                $("#btnShowMore").click(function() {
                    var totalDisplayTopic = parseInt($("#totalDisplayTopic").val());
                    $.post('/a/moretopic', {totalDisplayTopic:totalDisplayTopic}, function(data) {
                        for(var key in data) {
                            $("#topicTemplate").tmpl({topicId:data[key]._id, topic:data[key].topic}).appendTo("#boxTopic");
                        }
                        $("#totalDisplayTopic").val(totalDisplayTopic + data.length);
                    }, 'json');
                });   
                $("#frmAddTopic").submit(function() {
                    var name = $.trim($("#frmAddTopic #name").val());
                    var topic = $.trim($("#frmAddTopic #addTopic").val());
                    if(!name || !topic) {
                        return;
                    }
                    socket.emit('clientAddTopic', {
                        name: name, 
                        topic: topic
                    }); 
                });
                $("#frmEditTopic").submit(function() {
                    var topicId = $.trim($("#frmEditTopic #topicId").val());
                    var topic = $.trim($("#frmEditTopic #editTopic").val());
                    if(!topicId || !topic) {
                        return;
                    }
                    console.log(topicId + " " + topic);
                    socket.emit('clientEditTopic', {
                        topicId: topicId, 
                        topic: topic
                    }); 
                });
            });
        </script>
    </head>
    <body>        
        <h2>
            Topic
        </h2>
        <div>           
            <div>
                <h3>New Topic</h3>
                <form id="frmAddTopic" onsubmit="return false;">
                    <div>
                        <input type="hidden" id="name" value="<%= name %>" />
                        <input type="text" id="addTopic" value="" />
                        <input type="submit" value="Add" />
                    </div>
                </form>
            </div>
            <div>
                <h3>Edit Topic</h3>
                <form id="frmEditTopic" onsubmit="return false;">
                    <div>
                        <input type="hidden" id="topicId" value="" />
                        <input type="text" id="editTopic" value="" />
                        <input type="submit" value="Save" />
                    </div>
                </form>
            </div>
            <input type="hidden" id="totalDisplayTopic" value="<%= documents.length  %>" />
            <div id="boxTopic">
                <% for(var key in documents) {%>
                <div class="rowTopic">
                    <a id="topic<%= documents[key]._id %>" href="/idea/?id=<%= documents[key]._id %>">
                        <%= documents[key].topic  %>
                    </a>
                    &nbsp;&nbsp;
                    <a onclick="edit('<%= documents[key]._id  %>');" href="javascript:void(0);">
                        Edit
                    </a>
                </div>
                <% } %>
            </div>
            <script id="topicTemplate" type="text/x-jquery-tmpl"> 
                <div class="rowTopic">
                    <a id="topic${topicId}" href="/idea/?id=${topicId}">
                        ${topic}
                    </a>
                    &nbsp;&nbsp;
                    <a onclick="edit('${topicId}');" href="javascript:void(0);">
                        Edit
                    </a>
                </div>
            </script>
            <% if(totalTopic > limit) {%>
            <div>
                <a id="btnShowMore" href="javascript:void(0);">
                    Show More
                </a>
            </div>
            <% } %>
        </div>
    </body>
</html>
